<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooshim.mooshimeter"
    android:versionCode="2"
    android:versionName="1.02" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".main.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <activity
            android:name=".main.ScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.DeviceActivity"
            android:parentActivityName=".main.ScanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main.FwUpdateActivity"
            android:parentActivityName=".main.DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.FileActivity"
            android:parentActivityName=".main.FwUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.PreferencesActivity"
            android:label="Preferences"
            android:parentActivityName=".main.DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.TrendActivity"
            android:label="@string/title_activity_trend"
            android:parentActivityName=".main.DeviceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooshim.mooshimeter.main.DeviceActivity" />
        </activity>
    </application>

</manifest>
