<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooshim.mooshimeter"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/mstar"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <service
            android:name="com.mooshim.mooshimeter.common.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.mooshim.mooshimeter.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mooshim.mooshimeter.main.DeviceActivity"
            android:parentActivityName="com.mooshim.mooshimeter.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mooshim.mooshimeter.main.FwUpdateActivity"
            android:parentActivityName="com.mooshim.mooshimeter.main.DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mooshim.mooshimeter.main.FileActivity"
            android:parentActivityName="com.mooshim.mooshimeter.main.FwUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mooshim.mooshimeter.main.PreferencesActivity"
            android:parentActivityName="com.mooshim.mooshimeter.main.DeviceActivity"
            android:screenOrientation="portrait"
            android:label="Preferences"/>
        
    </application>


</manifest>
